@font-face {
    font-family: meineSchrift;
    src: url(Open_Sans/OpenSans-Light.ttf);
}



body{

    width: 100%;
    
  
}

#uberschrift {

        color: white;
        margin-left: 230px;
        font-size: 1.5em;
        font-family: meineSchrift;
        top: 140px;
 }

#hartmann {
     
        position:relative;
        top: 15px;
        margin-left: 45px;
        width: 90px;
        height:50px;

    }

  
#img_icon{
width:60px; 
height:60px;
margin-right:90px;
display:inline;
    }


#icon_schrift{

position:relative; 
display: inline;
margin-left: 178px;

 }

#icon1_schrift{

position:relative; 
display: inline;
margin-left: 130px;
top:40px;

  }


#iklinikschrift{
      
      position:relative;
      top:9px;
      width:60px;
  }

  #ischrift{
      position:relative;
      margin-left:80px;
      width:90px;
      top: 0px;

  }

    #i1schrift{
      position:relative;
     margin-left: 56px;
      width:90px;
      top: 0px;

  }

    #apotheke{
        margin-left: 45px;
        width:90px;
    }

    #icon {
        
       margin-left: 180px;
       position:relative;
       display: inline;
       top: 15px;

    }


#img_icon1{

width:60px; 
height:60px;
margin-right:90px;


}

    #icon1 {
         margin-left: 184px;
       position:relative;
        display: inline;
        top: 25px;
    }





.ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page
{
    position:relative;
}

#navigation
{
 
     width: 100%;
    position: fixed;  
    bottom: 88.5%;
    left: 0px;
    height: 120px;

}


.mainContent
{
    width:100%;
}

#div {
    background-color: #1a4064;
    
}



.navii
{

    background-color:#1a4064;
    width: 100%;
    position: fixed;  

    left: 0px;
    height: 105px;
}

.navii ul{
  
    list-style-type:none;
    
}



.navii li{

   
    background-color:#1a4064;
    display: inline-block;
  
}

.navii li a{

    text-decoration: none;
}



.navii span
{
    
    display:block;
    font-family: Arial;
    color: white;
   

}

#azurück{

     background-color:#1a4064;
}


#zurück img:hover{
    opacity:0.4;

}



#leistungen img:hover{
    opacity:0.4;
    
}

#scan img:hover{
    opacity:0.4;

}



#produktgruppen_inhalt{

    color: #1a4064;
    font-family: Arial;
}

#sub{


    color:#1a4064;
    font-family: Arial;
    font-size: 15px;
  
}

#products{

    color:#1a4064;
    font-family: Arial;
     font-size: 15px;
}

#Produktgruppen{

    color:#1a4064;
    font-family: Arial;
     font-size: 15px;

}

#artikelgrp{

    color: #1a4064;
    font-family: Arial;
    font-size: 15px;

}

#artgrp{

    color: #1a4064;
    font-family: Arial;
    font-size: 15px;

}

#artgrpart{

    color: #1a4064;
    font-family: Arial;
    font-size: 15px;

}

#artikelohneartikelgruppen{

    color:#1a4064;
    font-family: Arial;
    font-size: 15px;

}

#produktname{

    color:#1a4064;
    font-family: Arial;
    font-size: 15px;

}



#feld{

    border-radius: 4px;
    bottom: 22px!important;
    width: 50px;
    background-color: white;

}


#mediacenter{

    background-color:#74cae0;
    border-radius: 2px; 
    width: 139px;  
    height: 21px;
    top: 10px;
    margin-left: 0.8cm;
    
}

#buttonschrift{

    color: white;
   
}

#ta {

  width: 150px !important;
  height:10px!important;
  position: relative;
  background-position: right;
  border-radius: 4px;
  border-color:#1a4064;
  
    
  }

#sucheli{

    bottom: 40px;
    position:relative;


}


:-moz-placeholder {color:#1a4064;  font-size: 4px;}
::-webkit-input-placeholder {color:#1a4064;  font-size: 4px;}
:-ms-input-placeholder {color:#1a4064; font-size: 4px;}

#button{

    border-radius: 3px;
    width:110px; 
    height: 25px; 
    background-color: #8bd3e5; 


}

#bild{

   position:fixed;
   width: 45px;
   height: 33px;
   margin-left: 260px;
   top:38px;
  

}


@media only screen and (min-device-width: 1224px){


    .mainContent {
        width: 100%;
    }



    #uberschrift {

        color: white;
        margin-left: 550px;
        font-size: 2em;
        font-family: meineSchrift;
        top: 145px;
     }

    #hartmann {
     
        position:relative;
        top: 15px;
        margin-left: 45px;
        width: 160px;
        height:90px;

    }
      #icon {
        
       margin-left: 400px;
       position:relative;
       display: inline;
       top: 40px;
       background-color: red;

    }

  
    #img_icon{
        width:90px; 
        height:80px;
        margin-right:200px;
        display:inline;
         background-color: blue;
    }



    #iklinikschrift{
      
      position:relative;
      top:20px;
      width:100px;
      margin-left:395px;
  }



    
  #ialtersschrift{
      position:relative;
      margin-left:165px;
      width:150px;
      top: 7px;

  }


  #iarztschrift{

      position:relative;
      margin-left:150px;
      width:150px;
      bottom: 13px;


  }




  
        #img_icon1{

        position: relative;
        width:90px; 
        height:80px;
        margin-left:200px;
         background-color: black;

        }



      #i1schrift{ 
      position:relative;
     
      width:50px;
 

  }


    #icon1_schrift{ 

        position:relative; 
        display: inline;
     
        top:200px;

          }




  

    #apotheke{
      
        width:50px;
    }

  



    


}