@charset "utf-8";

@font-face{

    font-family: meineSchrift;
    src:url(Open_Sans/OpenSans-Light.ttf);

}

body{
    background-image:url(home.png);
    background-repeat: no-repeat;

   
}



.navii{
    left:0px;
    top: 0px;
    list-style: none;
    position:absolute;
    background-color:#1a4064;
    width: 768px;
    height: 107px
  
}

.navii li{

    display:inline;
    background-color:#1a4064;
    top:10px !important;
}


#azurück{

    top:10px !important;

}

.schrift{

    font-family: Arial;
    color: white;


}

#feld{


    border-radius: 4px;
    bottom: 22px!important;
  
   
}

#lupe{

  position: relative;
 bottom: 10px !important;
 
}


#zurück img:hover{
    opacity:0.4;

}



#leistungen img:hover{
    opacity:0.4;

}

#scan img:hover{
    opacity:0.4;

}

#inputfeld img:hover{
    opacity: 0.4;

}


#produktschrift{

font-family:meineSchrift;
}

#leistungschrift{

    font-family: meineSchrift;

}

#scanschrift{


    font-family: meineSchrift;
}

#inhalt{

    position:absolute;
    top: 120px !important;

}
