@font-face {
    font-family: meineSchrift;
    src: url(Open_Sans/OpenSans-Light.ttf);
}

/*






.ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page
{
    position:relative;
}

#navigation
{
 
     width: 100%;
    position: fixed;  
    bottom: 88.5%;
    left: 0px;
    height: 120px;

}


.mainContent
{
    width:100%;
}

#div {
    background-color: #1a4064;
    
}



.navii
{

    background-color:#1a4064;
    width: 100%;
    position: fixed;  

    left: 0px;
    height: 105px;
}

.navii ul{
  
    list-style-type:none;
    
}



.navii li{

   
    background-color:#1a4064;
    display: inline-block;
  
}

.navii li a{

    text-decoration: none;
}



.navii span
{
    
    display:block;
    font-family: Arial;
    color: white;
   

}

#azurück{

     background-color:#1a4064;
}


#zurück img:hover{
    opacity:0.4;

}



#leistungen img:hover{
    opacity:0.4;
    
}

#scan img:hover{
    opacity:0.4;

}



#produktgruppen_inhalt{

    color: #1a4064;
    font-family: Arial;
}

#sub{


    color:#1a4064;
    font-family: Arial;
    font-size: 15px;
  
}

#products{

    color:#1a4064;
    font-family: Arial;
     font-size: 15px;
}

#Produktgruppen{

    color:#1a4064;
    font-family: Arial;
     font-size: 15px;

}

#artikelgrp{

    color: #1a4064;
    font-family: Arial;
    font-size: 15px;

}

#artgrp{

    color: #1a4064;
    font-family: Arial;
    font-size: 15px;

}

#artgrpart{

    color: #1a4064;
    font-family: Arial;
    font-size: 15px;

}

#artikelohneartikelgruppen{

    color:#1a4064;
    font-family: Arial;
    font-size: 15px;

}

#produktname{

    color:#1a4064;
    font-family: Arial;
    font-size: 15px;

}



#feld{

    border-radius: 4px;
    bottom: 22px!important;
    width: 50px;
    background-color: white;

}


#mediacenter{

    background-color:#74cae0;
    border-radius: 2px; 
    width: 139px;  
    height: 21px;
    top: 10px;
    margin-left: 0.8cm;
    
}

#buttonschrift{

    color: white;
   
}

#ta {

  width: 150px !important;
  height:10px!important;
  position: relative;
  background-position: right;
  border-radius: 4px;
  border-color:#1a4064;
  
    
  }

#sucheli{

    bottom: 40px;
    position:relative;


}


:-moz-placeholder {color:#1a4064;  font-size: 4px;}
::-webkit-input-placeholder {color:#1a4064;  font-size: 4px;}
:-ms-input-placeholder {color:#1a4064; font-size: 4px;}

#button{

    border-radius: 3px;
    width:110px; 
    height: 25px; 
    background-color: #8bd3e5; 


}

#bild{

   position:fixed;
   width: 45px;
   height: 33px;
   margin-left: 260px;
   top:38px;
  

}
*/

@media only screen and (min-device-width: 1600px) {

    /*Laptops*/


    .mainContent {
        width: 100%;
    }



    #uberschrift {

        color: white;
        margin-left:600px;
        font-size: 2em;
        font-family: meineSchrift;
        top: 145px;
     }

    #hartmann {
     
        position:relative;
        top: 15px;
        margin-left: 45px;
        width: 160px;
        height:90px;

    }
      #icon {
        
       margin-left: 400px;
       position:relative;
       display: inline;
       top: 40px;
      

    }

  
    #img_icon{
        width:90px; 
        height:80px;
        margin-right:200px;
        display:inline;
         
    }



    #iklinikschrift{
      
      position:relative;
      top:20px;
      width:100px;
      margin-left:395px;
  }



    
  #ialtersschrift{
      position:relative;
      margin-left:165px;
      width:150px;
      top: 7px;

  }


  #iarztschrift{

      position:relative;
      margin-left:150px;
      width:150px;
      bottom: 13px;


  }

#img_icon_apo{

    position:relative;
    margin-left: 400px;
    margin-right: 90px;
      width:90px; 
        height:80px;


}

  
        #img_icon1{

        position: relative;
        width:90px; 
        height:80px;
        margin-left:110px;

    

        }



      #i1schrift{ 
      position:relative;
      width:150px;
      margin-left: 135px;
 

  }


    #apotheke{
      
        width:150px;
        margin-left:380px;
       

    }

  

}


@media only screen and (min-device-width: 500px) and (max-device-width: 1300px) {

  /*Tablets*/

  
body{

  background-image:url(start_tablet.png);
  background-size:cover;
  background-repeat:no-repeat;


}


.mainContent {
        width: 100%;
    }

#uber{

    position:relative;
    top:60px;
    text-align:center;

}

    #uberschrift {
        color: white;
        font-size: 2em;
        font-family: meineSchrift;
      
       
    }


  #hartmann{

      position:relative;
     width:110px;
     margin-left:30px;
    top:30px;
   
    

  }

  #icon{

      min-width:100%;
      max-width: 800%;
      position: absolute;
      display: inline;
      top:45%;
      text-align:center;
  
  }

  #icon img{
      
    width:80px;
    margin-left:5%;
    margin-right:5%;
   
  }

    #icon span{

        font-family:meineSchrift;
        color: white;
        font-size:1.2em;
        display:inline;
        margin-left:2%;
      

    }


  #iconn{

      min-width:100%;
      max-width: 300%;
      position: absolute;
      display: inline-block;
      top:70%;
      text-align:center;
  
  }


  #iconn span{

      font-family:meineSchrift;
        color: white;
        font-size:1.2em;
        display:inline;
        margin-left:2%;


  }



#iconn img{

    width:80px;
    margin-left:5%;
    margin-right:5%;
   
}



.ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page
{
    position:relative;
    
}

/*****************************Navigation*****************************/

#navigation
{

    width: 100%;
    position:fixed;
    top:-2px;
    left: -2px;
    
}


.navii
{
    position:fixed;
    background-color:#1a4064;
    width: 100%;
 
}

.navii ul{
  
    list-style-type:none;
    
}



.navii li{

   
    background-color:#1a4064;
    display: inline-block;
    margin-left: 5%;

}

.navii li a{

    text-decoration: none;

}



.navii span
{
    
    display:block;
    font-family: meineSchrift;
    color: white;
   

}

#zurück{

    position:relative;
    margin-left:-30px;
    top: -5px;

}



#zurück img:hover{
    opacity:0.4;

}



#leistungen img:hover{
    opacity:0.4;
    
}

#scan img:hover{
    opacity:0.4;

}

#ta {

  width: 170px !important;
  height:15px!important;
  position:fixed;
  background-position: right;
  border-radius: 4px;
  border-color:#1a4064;
  top:25px;
  left: 60%;

 
    
  }



#bild{

   position:fixed;
   width: 45px;
   height: 33px;
    left:83%;
   top:25px;
   border-radius: 4px;


}

/**********************************Inhalt*********************************************/



#produktgruppen_inhalt{

    color: #1a4064;
    font-family: meineSchrift;

     height:auto;
     width:auto;
     position:absolute;
   left: 5%;
   right:5%;
   
 
}


#sub{
   color: #1a4064;
    font-family: meineSchrift;
   
     height:auto;
     width:auto;
     
     position:absolute;
   left: 5%;
   right:5%; 
}

#products{

    color:#1a4064;
    font-family: Arial;
     font-size: 15px;
}

#Produktgruppen{

    color:#1a4064;
    font-family: Arial;
     font-size: 15px;

}

#artikelgrp{

    color: #1a4064;
    font-family: Arial;
    font-size: 15px;

}

#artgrp{

    color: #1a4064;
    font-family: Arial;
    font-size: 15px;

}

#artgrpart{

    color: #1a4064;
    font-family: Arial;
    font-size: 15px;

}

#artikelohneartikelgruppen{

    color:#1a4064;
    font-family: Arial;
    font-size: 15px;

}

#produktname{

    color:#1a4064;
    font-family: Arial;
    font-size: 15px;

}



#feld{

    border-radius: 4px;
    bottom: 22px!important;
    width: 50px;
    background-color: white;

}


#mediacenter{

    background-color:#74cae0;
    border-radius: 2px; 
    width: 139px;  
    height: 21px;
    top: 10px;
    margin-left: 0.8cm;
    
}

#buttonschrift{

    color: white;
   
}



:-moz-placeholder {color:#1a4064;  font-size: 4px;}
::-webkit-input-placeholder {color:#1a4064;  font-size: 4px;}
:-ms-input-placeholder {color:#1a4064; font-size: 4px;}

#button{

    border-radius: 3px;
    width:110px; 
    height: 25px; 
    background-color: #8bd3e5; 


}


   
}


@media only screen and (min-device-width:200px) and (max-device-width:600px){

/*Smartphones*/

body{

  background-image:url(start_smatphones.png);
  background-size:cover;


}

.mainContent {
         width: 100%;
    }

#uber{

   
    
    position:relative;
    top:50px;
    text-align:center;

}

    #uberschrift {
        color: white;
        font-size: 1.3em;
        font-family: meineSchrift;
      
       
    }


  #hartmann{

     width:80px;
     margin-left:10px;
    bottom:10px;
   
    

  }

  #icon{

      min-width:100%;
      max-width: 300%;
      position: absolute;
      display: inline;
      top:35%;
      text-align:center;
  
  }

  #icon img{
      
    width:50px;
    margin-left:5%;
    margin-right:5%;
   
  }

    #icon span{

        font-family:meineSchrift;
        color: white;
        font-size:0.9em;
        display:inline;
        margin-left:2%;

    }


  #iconn{

      min-width:100%;
      max-width: 300%;
      position: absolute;
      display: inline-block;
    
      top:60%;
      text-align:center;
  
  }


  #iconn span{

      font-family:meineSchrift;
        color: white;
        font-size:0.9em;
        display:inline;
        margin-left:2%;


  }



#iconn img{

    width:50px;
    margin-left:5%;
    margin-right:5%;
   
}






}







