

#logo img{
   
  position: absolute;
  
 
}

.nav{
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: absolute;
    display: inline;
  
}

.nav li{
    float: left;
    position: relative;  
}

.nav li a{ 
    color: white;
    text-decoration: none; 

}

#suche{

    position: relative;
    width:350px;
    height: 103px;
    background-color:#133663;
   
}


#bild{

    position:relative;
    top: 9px;
    left: 2px;
 

}


#lupe{

    position:relative;
    width: 120px;
    height:103px;
    background-color:#133663;

}

#hintergrundfarbe{
    background-color:#133663;
   

}

#lu{

    position: relative;
    width: 35px;
    top: 10px;


}


