@font-face {
    font-family: meineSchrift;
    src: url(Open_Sans/OpenSans-Light.ttf);
}



body{

    width: 100%;
    
  
}

#uberschrift {

        color: white;
        margin-left: 230px;
        font-size: 5em;
        font-family: meineSchrift;
        top: 140px;
 }

#hartmann {
     
        position:relative;
        top: 15px;
        margin-left: 45px;
        width: 90px;
        height:50px;

    }

  
#img_icon{
width:60px; 
height:60px;
margin-right:90px;
display:inline;
    }


#icon_schrift{

position:relative; 
display: inline;
margin-left: 178px;

 }

#icon1_schrift{

position:relative; 
display: inline;
margin-left: 130px;
top:40px;

  }


#iklinikschrift{
      
      position:relative;
      top:9px;
      width:60px;
  }

  #ischrift{
      position:relative;
      margin-left:80px;
      width:90px;
      top: 0px;

  }

    #i1schrift{
      position:relative;
     margin-left: 56px;
      width:90px;
      top: 0px;

  }

    #apotheke{
        margin-left: 45px;
        width:90px;
    }

    #icon {
        
       margin-left: 180px;
       position:relative;
       display: inline;
       top: 15px;

    }


#img_icon1{

width:60px; 
height:60px;
margin-right:90px;


}

    #icon1 {
         margin-left: 184px;
       position:relative;
        display: inline;
        top: 25px;
    }





.ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page
{
    position:relative;
}

#navigation
{
 
     width: 100%;
    position: fixed;  
    bottom: 88.5%;
    left: 0px;
    height: 120px;

}


.mainContent
{
    width:100%;
}

#div {
    background-color: #1a4064;
    
}



.navii
{

    background-color:#1a4064;
    width: 100%;
    position: fixed;  

    left: 0px;
    height: 105px;
}

.navii ul{
  
    list-style-type:none;
    
}



.navii li{

   
    background-color:#1a4064;
    display: inline-block;
  
}

.navii li a{

    text-decoration: none;
}



.navii span
{
    
    display:block;
    font-family: Arial;
    color: white;
   

}

#azurück{

     background-color:#1a4064;
}


#zurück img:hover{
    opacity:0.4;

}



#leistungen img:hover{
    opacity:0.4;
    
}

#scan img:hover{
    opacity:0.4;

}



#produktgruppen_inhalt{

    color: #1a4064;
    font-family: Arial;
}

#sub{


    color:#1a4064;
    font-family: Arial;
    font-size: 15px;
  
}

#products{

    color:#1a4064;
    font-family: Arial;
     font-size: 15px;
}

#Produktgruppen{

    color:#1a4064;
    font-family: Arial;
     font-size: 15px;

}

#artikelgrp{

    color: #1a4064;
    font-family: Arial;
    font-size: 15px;

}

#artgrp{

    color: #1a4064;
    font-family: Arial;
    font-size: 15px;

}

#artgrpart{

    color: #1a4064;
    font-family: Arial;
    font-size: 15px;

}

#artikelohneartikelgruppen{

    color:#1a4064;
    font-family: Arial;
    font-size: 15px;

}

#produktname{

    color:#1a4064;
    font-family: Arial;
    font-size: 15px;

}



#feld{

    border-radius: 4px;
    bottom: 22px!important;
    width: 50px;
    background-color: white;

}


#mediacenter{

    background-color:#74cae0;
    border-radius: 2px; 
    width: 139px;  
    height: 21px;
    top: 10px;
    margin-left: 0.8cm;
    
}

#buttonschrift{

    color: white;
   
}

#ta {

  width: 150px !important;
  height:10px!important;
  position: relative;
  background-position: right;
  border-radius: 4px;
  border-color:#1a4064;
  
    
  }

#sucheli{

    bottom: 40px;
    position:relative;


}


:-moz-placeholder {color:#1a4064;  font-size: 4px;}
::-webkit-input-placeholder {color:#1a4064;  font-size: 4px;}
:-ms-input-placeholder {color:#1a4064; font-size: 4px;}

#button{

    border-radius: 3px;
    width:110px; 
    height: 25px; 
    background-color: #8bd3e5; 


}

#bild{

   position:fixed;
   width: 45px;
   height: 33px;
   margin-left: 260px;
   top:38px;
  

}


@media only screen and (min-device-width: 1600px) {

    .mainContent {
        width: 100%;
    }



    #uberschrift {

        color: white;
        margin-left:600px;
        font-size: 2em;
        font-family: meineSchrift;
        top: 145px;
     }

    #hartmann {
     
        position:relative;
        top: 15px;
        margin-left: 45px;
        width: 160px;
        height:90px;

    }
      #icon {
        
       margin-left: 400px;
       position:relative;
       display: inline;
       top: 40px;
      

    }

  
    #img_icon{
        width:90px; 
        height:80px;
        margin-right:200px;
        display:inline;
         
    }



    #iklinikschrift{
      
      position:relative;
      top:20px;
      width:100px;
      margin-left:395px;
  }



    
  #ialtersschrift{
      position:relative;
      margin-left:165px;
      width:150px;
      top: 7px;

  }


  #iarztschrift{

      position:relative;
      margin-left:150px;
      width:150px;
      bottom: 13px;


  }

#img_icon_apo{

    position:relative;
    margin-left: 400px;
    margin-right: 90px;
      width:90px; 
        height:80px;


}

  
        #img_icon1{

        position: relative;
        width:90px; 
        height:80px;
        margin-left:110px;

    

        }



      #i1schrift{ 
      position:relative;
      width:150px;
      margin-left: 135px;
 

  }


    #apotheke{
      
        width:150px;
        margin-left:380px;
       

    }

  

}


@media only screen and (min-device-width: 900px) and (max-device-width: 1300px) {

    .mainContent {
        width: 100%;
    }



    #uberschrift {
        color: white;
        margin-left: 370px;
        font-size: 1.8em;
        font-family: meineSchrift;
        top: 145px;
    }

    #hartmann {
        position: relative;
        top: 15px;
        margin-left: 45px;
        width: 130px;
        height: 70px;
    }

    #icon {
        margin-left: 280px;
        position: relative;
        display: inline;
        top: 30px;
    }


    #img_icon {
        width: 80px;
        height: 70px;
        display: inline;
    }



    #iklinikschrift {
        position: relative;
        top: 20px;
        width: 80px;
        margin-left: 278px;
    }




    #ialtersschrift {
        position: relative;
        margin-left: 72px;
        width: 120px;
        top: 10px;
    }


    #iarztschrift {
        position: relative;
        margin-left: 58px;
        width: 120px;
        bottom: 7px;
    }

    #img_icon_apo {
        position: relative;
        margin-left: 280px;
        margin-right: 80px;
        width: 80px;
        height: 70px;
    }


    #img_icon1 {
        position: relative;
        width: 80px;
        height: 70px;
        margin-left: 5px;
    }



    #i1schrift {
        position: relative;
        width: 120px;
        margin-left: 48px;
    }


    #apotheke {
        width: 120px;
        margin-left: 265px;
    }
}


@media only screen and (min-device-width:200px) and (max-device-width:353px){



.mainContent {
        width: 100%;
    }



    #uberschrift {
        color: white;
        margin-left:40px;
        font-size: 0.9em;
        font-family: meineSchrift;
        top: 120px;
    }

    #hartmann {
        position: relative;
        top:0px;
        margin-left: 2px;
        width: 40px;
        height: 20px;
    }

    #icon {
        
        position: relative;
        display: inline;
        top: 50px;
        margin-left:20px;

    }


    #img_icon {
        width: 45px;
        height:40px;
        margin-right: 33px;
   
    }

 

    #iklinikschrift {
        position: relative;
        top: 40px;
        width: 45px;
        margin-left:-159px;
       
        
    }

 #ialtersschrift {
        position: relative;
        margin-left: 23px;
        width: 72px;
        top: 33px;
    }



    #iarztschrift {
        position: relative;
        margin-left:5px;
        width: 70px;
        bottom: -23px;
    }

    #img_icon_apo {
      position: relative;
       top:30px;
        width: 40px;
        margin-left:-163px;
        
        
    }



    #img_icon_indus {
        position: relative;
        width: 40px;
        height:40px;
        margin-left:-80px;
        top: 30px;
      
        display:inline;
     
    }

    #img_icon_private {
      position: relative;
        width: 40px;
        height:40px;
        margin-left:-5px;
        top: 30px;
      
        display:inline;
     
    }



    #apo {
        position: relative;
        width: 80px;
      margin-left:-130px;
      top:20px;
    }


 #in {
        position: relative;
        width: 80px;
     margin-left: 5px;
      top:20px;
    }

 #pri {
        position: relative;
        width: 80px;
        margin-left:-3px;
      
      top:20px;
    }




}







